<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to my profile page. My name is Panagiotis Apostolou and I work as a Data Scientist. My field of knowledge consists of Python, SQL, NoSQL,
          Machine Learning, API, Webscrapping,Power BI and AI engineering.</p>
      </div>
      <div class="col-lg-4">
        <p>Link to my CV :https://www.linkedin.com/in/panagiotis--apostolou/details/featured/. For job inquiries, please use the contact section. You can find me at other platforms as well (links at the bottom of page) </p>
      </div>
    </div>
  </div>
</section>
