<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to my portfolio page. My name is Panagiotis Apostolou and I work as a Data Scientist. My field of knowledge consists of Python, SQL, NoSQL,
          Machine Learning, API, Webscrapping and Power BI.</p>
      </div>
      <div class="col-lg-4">
        <p>You can freely navigate through all my projects that are at display. For any further information or job inquiries, please do not
          hesitate to use the contact section. You can also find me at other platforms as well (links at the bottom of page) </p>
      </div>
    </div>
  </div>
</section>
