<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Panagiotis Apostolou and welcome to my portfolio page. I work as a data Scientist, with knowledge at Python, SQL, NoSQL, Machine Learning
        and Power BI</p>
      </div>
      <div class="col-lg-4">
        <p>You can freely navigate through all my projects that are at display. For any further information or job inquiries, please do not
          hesitate to use the contact section </p>
      </div>
    </div>
  </div>
</section>
